<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HERMES: Serviços Digitais | Login</title>
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: 'Arial', sans-serif;
            background: linear-gradient(#F5F5F5, #6FA7A7, #F5F5F5);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .login {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
            padding: 30px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        #logomarca {
            width: 200px;
            margin-bottom: 20px;
            border-radius: 50%;
        }

        .label {
            width: 100%;
            margin-bottom: 5px;
            font-weight: bold;
            text-align: left;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        #enviar {
            background-color: #025951;
            color: #ffffff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        #enviar:hover {
            background-color: #014440;
        }

        @media (max-width: 600px) {
            .login {
                padding: 20px;
            }

            #logomarca {
                width: 150px;
            }
        }
    </style>
</head>
<body>
    <form class="login">
        <img src="HERMES (1).png" alt="logomarca hermes" id="logomarca">
        <label for="email" class="label">Email:</label>
        <input type="email" name="email" id="email" required>
        <label for="senha" class="label">Senha:</label>
        <input type="password" name="senha" id="senha" required>
        <button type="submit" id="enviar">Entrar</button>
    </form>
</body>
</html>
